<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
     <h1>register page</h1>
     <a href="{{url_for('register')}}">Already have an account? Log Up</a><br>
     <!----adding form: -->
     <form method="POST" action="/register">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Full Name</label>
        <input type="text" name="full_name" required>

        <label>Phone</label>
        <input type="tel" name="phone" required>

        <label>Role</label>
       <select name="role">
        <option value="student">Student</option>
        <option value="vendor">Vendor</option>
       </select>

       <button type=""submit> Register</button>
     </form>
</body>
</html>